@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

.container {
    max-width: 320px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.text {
    padding: 20px 13px;
    color: hsl(218, 44%, 22%);
}

.text h3 {
    font-size: 21px;
}

.text p {
    color: hsl(220, 15%, 55%);
    margin-top: 20px;
}

.attribution {
    margin-top: 30px;
    text-align: center;
}